// GENERAL
$white: #afafaf;
$red: #e31b23;

// COLORS
$color-primary: #c70000;
$color-selected: #2e2eb8;
$color-selected-2: #32CD32;
$color-danger: #EC2731;
$background-primary: #252520;
$background-secondary: #1F201D;
$background-tertiary:  	#4B0082;
$background-blur: #60292f; // deep red

// BUTTONS
$btn-hover: #c70000;
$btn-active: #138496;

// LINKS
$link-active-bg: #1F201D;;
$link-active: #fff;
$link-visited: rgb(226, 220, 220);

// FORMS
$formBgColor: #292a2b;
$formElsBorder: hsl(0, 0%, 10%);
$formElsBg: hsl(0, 0%, 14%);
$formElsBgFocus: hsl(0, 7%, 20%);
