<div class="about-content" [ngClass]="{'about-big': windowWidth > 760, 'about-small': windowWidth <=760}">
  <!-- <div class="face" [ngClass]="{'big-face': windowWidth > 760}">
    <img src="../assets/photo_circle.png"  />
  </div> -->
  <div class="about">
    <p class="center" [ngClass]="{'hide': windowWidth <= 760}">Hello! And welcome to my little corner of the world.</p>
    <p [ngClass]="{'hide': windowWidth <= 760}">
      I began programming back in the college days. Starting from the first moment when I was looking over a friend's shoulder and watching him mod Brawl on the Wii.
    </p>
    <p [ngClass]="{'hide': windowWidth <= 760}">
      The whole time he was talking about holding values in arrays, attaching functions to events to make custom characters move, and it just blew straight past me.
      But it has been a long time since then and I have made many of my own fun projects since.
    </p>
    <p [ngClass]="{'hide': windowWidth <= 760}">
      Check them out over <a routerLink="/projects">here</a>!
    </p>
    <p class="center" [ngClass]="{'hide': windowWidth > 760}">Hello!<br/><br/>And welcome to my little corner of the world</p>
    <!-- <div class="separator"></div>
    <div class="downloads">
      <a href="../assets/Curriculum Vitae.pdf" download>Curriculum Vitae</a>
    </div> -->
  </div>
</div>
