@import '../../styles/variables';

:host {
	display: flex;
	flex-flow: column;
  align-items: center;
  justify-content: center;;
  height: 100%;
}

.about-big {
	border: 1px solid white;
	width: 66%;
	padding: 15px;
  border-radius: 5px;
  z-index: 10;
  background: $background-primary;
}

.about-small {
  padding: 15px;
  z-index: 10;
  background: $background-primary;
  margin: 10px;
  border-radius: 5px;
}

.about-content {

  .big-face {
    position: relative;

    > img {
      position: absolute;
      width: 120px;
      left: -92px;
      top: -95px;
      border: 1px solid $background-primary;
      background: $background-primary;
      padding: 15px;
      border-radius: 15px;
    }
  }
}
