@import "../../styles/variables";

:host {
	display: flex;
	flex-flow: column;
  align-items: center;
  justify-content: center;;
  height: 100%;

  > div.hire-content {
    z-index: 10;
    text-align: center;
  }
}

.hire-big {
	border: 1px solid white;
	width: 66%;
	padding: 15px;
  border-radius: 5px;
  z-index: 10;
  background: $background-primary;
}

.hire-small {
  padding: 15px;
  z-index: 10;
  background: $background-primary;
  margin: 10px;
  border-radius: 5px;
}
