<div class="hire-content" [ngClass]="{'hire-big': windowWidth > 760, 'hire-small': windowWidth <=760}">
<p>I offer excellent rates and one-on-one communication for all my work</p>
<p>If you would like to have a beautiful custom website built, then send me an <a href="mailto:jacobus.anthony.harding@gmailcom">email</a></p>
<p><a href="../assets/Curriculum Vitae.pdf" download>Curriculum Vitae</a></p>
</div>
