@import '../../styles/variables';

:host {
	display: flex;
	flex-flow: column;
  align-items: center;
  justify-content: center;;
  height: 100%;

  > div.projects-content {
    z-index: 10;
  }
}

.projects-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  overflow-y: auto;
}

.video {
  height: 300px;
  object-fit: fill;
}

.project-big {
  // width: 46%;
  width: 760px;
}
.project-small {
  width: 100%;
  flex-flow: column nowrap !important;
  align-items: center;
  text-align: center;

  .project-info {
    width: auto !important;
    margin-top: 15px;
  }
  .pic {
    text-align: center;
    width: inherit !important;
  }
  .pic-ocms {
    // height: 220px;
    // width: 540px !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    height: 100px;
  }
}

.project {
  display: flex;
  flex-flow: row wrap;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background: rgba(0,0,0,0.25);

  .project-info {
    display: flex;
    flex-flow: column nowrap;
    width: 49%;

    > .title {
      font-size: 25px;
      text-align: center;
      box-shadow: 0 4px 2px -2px gray;
      padding-bottom: 10px;
    }
    > .desc {
      margin: 15px 0px;
      flex: 1;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      // width: 80%;
    }
    > .info {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      font-size: 14px;

      .link > a {
        margin-right: 5px;
        text-decoration: none;
      }
    }
  }

  .pic {
    display: block;
    margin-right: 8px;
    width: 49%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    border-radius: 5px;

    > img {
      border: 1px solid $background-secondary;
      max-width: 310px;
    }
    > video {
      border-radius: 5px;
      width: 100%;
    }
  }
}

.pic-ocms {
  background: url("assets/ocms.png");
  // background-size: cover;
}

.pic-studios {
  background: url("assets/monarosestudios.jpg");
  height: 210px;
}
