<div class="projects-content">

  <div class="project"
  [ngClass]="{
    'project': true,
    'project-big': windowWidth > 760,
    'project-small': windowWidth <=760
  }">
    <div class="pic" style="margin-top: auto; margin-bottom:auto;">
      <video class="video" controls>
        <source src="assets/ledm.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
      </video>
    </div>
    <div class="project-info">
      <div class="title">
        LEDM
      </div>
      <div class="desc">
        In colloboration with my friend Aaron, the most magnificent light show project ever conceived
      </div>
      <div class="info">
        <div class="tecs">
          C, Python
        </div>
        <div class="link">
          <a href="https://gitlab.com/JacobusH/ledm" target="_blank">Gitlab</a>
        </div>
      </div>
    </div>
  </div>
  <div class="project"
  [ngClass]="{
    'project': true,
    'project-big': windowWidth > 760,
    'project-small': windowWidth <=760
  }">
    <div class="pic">
      <video class="video" controls>
        <source src="assets/clouds.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
      </video>
    </div>
    <div class="project-info">
      <div class="title">
        Clouds
      </div>
      <div class="desc">
        The best birthday present ever for my little sister. I just had to make more for myself
      </div>
      <div class="info">
        <div class="tecs">
          Arduino, C
        </div>
        <div class="link">
          <a href="https://github.com/JacobusH/Clouds" target="_blank">Github</a>
        </div>
      </div>
    </div>
  </div>
  <div class="project"
  [ngClass]="{
    'project': true,
    'project-big': windowWidth > 760,
    'project-small': windowWidth <=760
  }">
    <a href="http://orangecountymusicschool.com" class="pic pic-ocms" target="_blank">
    </a>
    <div class="project-info">
      <div class="title">
        Orange County Music School
      </div>
      <div class="desc">
        <span>I built and maintain this website for the premier music school in Orange County California.</span>
      </div>
      <div class="info">
        <div class="tecs">
          Angular9, SCSS, Firestore
        </div>
        <div class="link">
          <a href="http://orangecountymusicschool.com" target="_blank">Visit</a>
          <a href="https://gitlab.com/JacobusH/orangecountymusicschool" target="_blank">Gitlab</a>
        </div>
      </div>
    </div>
  </div>
  <div class="project"
  [ngClass]="{
    'project': true,
    'project-big': windowWidth > 760,
    'project-small': windowWidth <=760
  }">
    <a href="https://monarosestudios.com" class="pic pic-studios" target="_blank">
    </a>
    <div class="project-info">
      <div class="title">
        Mona Rose Studios
      </div>
      <div class="desc">
        Another excellent website for a music school.
      </div>
      <div class="info">
        <div class="tecs">
          Angular9, SCSS, Firestore
        </div>
        <div class="link">
          <a href="https://monarosestudios.com" target="_blank">Visit</a>
          <a href="https://gitlab.com/JacobusH/monarosemusic" target="_blank">Gitlab</a>
        </div>
      </div>
    </div>
  </div>

</div>
