<div class="content">
  <div class="nav">
    <div><a routerLink="/">About</a></div>
    <div><a routerLink="/projects">Projects</a></div>
    <div><a routerLink="/hire">Hire</a></div>
  </div>
  <div class="page-content" #bg class="trippy-bg" [appGenBg]="bg">
    <router-outlet></router-outlet>
  </div>
</div>
