@import '../styles/variables';

// :host {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;
//   width: 100%;
// }

::ng-deep router-outlet + * {
  animation: fade 1.3745s;

  @keyframes fade {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

::ng-deep svg {
  // position: absolute;
  // z-index: 0;
  margin: -178% 0px 0px -10%;
}

::ng-deep + app-* {
  background: pink;
}

div.router {
  height: 100%;
}


.trippy-bg {
  overflow: hidden;
  // position: fixed;
  // top:0;
  // left:0;
  // right:0;
  // bottom:0;
  height: 94%;
  width: 100%;
}

.content {
  // background-image: url("../../assets/bg_water.jpg");
  // background-size: cover;
  height: 100%;
  // overflow: hidden;
  border: 2px solid white;

  .page-content {
    height: 94%;

  }
}

.nav {
	display: flex;
	flex-flow: row nowrap;
  box-shadow: 0px 0px 1px 1px pink;
  justify-content: space-between;
  height: 6%;
  // padding: 10px;

  > div {
    width: 100%;
    height: 100%;
    text-align: center;

    > a {
      display: inline-block;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      width: 100%;
      height: 100%;
      padding: 15px;
      border-radius: 15px;
      transition: all .5s ease;
    }
  }
}
